{%extends 'base.html' %}
{% load static %}

{% block content %}

{% if not user.is_authenticated %}
<img src="{% static 'images/1.png' %}" alt="" width=1200px style="margin: 40px 40px;">
{% endif %}

{% if user.is_authenticated %}
<div class="home-row home-top">
    <div class="home-col">
        내가 구독한 서비스
    </div>
    <div class="home-col">
        새로운 서비스를 구독하였다면?
        <button>
            <a href="{%url 'addService' %}">추가하기</a>
        </button>
    </div>
</div>

<div class="service-container">
    {%for service in services %}
    <div class="service-box">

        <a href="{%url 'updateService' service.id %}">
            <div class="content-box">
                {%if service.image %}
                <img width="50px" height="50px" src="{{service.image.url}}" alt="">
                {%endif%}
                <br>
                <br>
                <h2>{{service.shared}}명과 공유</h2>
                <h2>{{service.name}}</h2>
                <h2>{{service.cost}}원</h2>
                <h2>{{service.shared}}</h2>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<hr>
{%endif%}
{%endblock%}