{%extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="home-row home-top">
    <div class="home-col">
        내가 구독한 서비스
    </div>
    <div class="home-col">
        새로운 서비스를 구독하였다면?
        <button>
            <a href="{%url 'addService' %}">추가하기</a>
        </button>
    </div>
</div>

<div class="service-container">
    {%for service in services %}
    <div class="service-box">

        <a href="{%url 'updateService' service.id %}">
            <div class="content-box">
                {%if service.image %}
                <img src="" alt="">
                {%endif%}
                <h2>{{service.name}}</h2>
                <h2>{{service.cost}}</h2>
                <h2>{{service.shared}}</h2>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<hr>
{%endif%}
{%endblock%}